<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<!--    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css-->

<!--    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link rel="stylesheet" href="css/task-management.css">

    <style>
        /* CSS */
        .modal {
            display: none;
            position: fixed; /* Değişiklik burada */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            background-color: #fff;
            margin: 20% auto;
            padding: 20px;
            width: 50%;
            text-align: center;
            position: relative;
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            cursor: pointer;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
        }



    </style>
</head>
<body>
<!-- Working version of https://dribbble.com/shots/14552329--Exploration-Task-Management-Dashboard -->
<div class='app'>
    <main class='project'>
        <div class='project-info'>
            <h1>Homepage Design</h1>
            <div class='project-participants'>
                <span></span>
                <span></span>
                <span></span>
                <button class="project-participants__add" id="addParticipantButton">Add Participant</button>

                <div id="participantModal" class="modal">
                    <div class="modal-content">
                        <span class="close" style="background-color: white">&times;</span>
                        <h2>Add New Participant</h2>
                        <form id="participantForm">
                            <label for="participantName">Name:</label>
                            <input type="text" id="participantName" required>
                            <label for="participantImage">Image URL:</label>
                            <input type="text" id="participantImage" required>
                            <button type="submit">Add</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
        <div class='project-tasks'>
            <div class='project-column' droppable='true'>
                <div class='project-column-heading'>
                    <h2 class='project-column-heading__title'>Task Ready</h2>
                    <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                </div>
                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--copyright'>Copywriting</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Konsep hero title yang menarik</p>

                    <p ><span style="   background-color: blue; /* Mavi arka plan rengi */
    color: white; /* Yazı rengi */
    padding: 7px; border-radius: 10px;">Ko yang menarik</span></p>
                    <div class='task__stats'>
                        <span><time datetime="2021-11-24T20:00:00" style="font-size: larger; font-weight: bolder; color: #2e2e2f"><i class="fas fa-clock"></i>Nov 24</time></span>
<!--                        <span><i class="fas fa-comment"></i>3</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>7</span>-->

                        <span class='task__owner'></span>
                    </div>
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--design'>UI Design</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Icon di section our services</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>2</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>5</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--copyright'>Copywriting</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Konsep hero title yang menarik</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>2</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>3</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>
            </div>
            <div class='project-column' droppable='true'>
                <div class='project-column-heading'>
                    <h2 class='project-column-heading__title'>In Progress</h2>
                    <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--design'>UI Design</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Replace lorem ipsum text in the final designs</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>5</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>5</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--illustration'>Illustration</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Create and generate the custom SVG illustrations.</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>8</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>7</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--copyright'>Copywriting</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Proof read the legal page and check for and loopholes</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>12</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>11</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--illustration'>Illustration</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
<!--                    <p>Create the landing page graphics for the hero slider.</p>-->
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>4</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>8</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>

            </div>
            <div class='project-column' droppable='true'>
                <div class='project-column-heading'>
                    <h2 class='project-column-heading__title'>Needs Review</h2>
                    <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--copyright'>Copywriting</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Check the company we copied doesn't think we copied them.</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>4</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>0</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>
                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--design'>UI Design</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Design the about page.</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>0</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>5</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>
                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--illustration'>Illustration</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Move that one image 5px down to make Phil Happy.</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>2</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>2</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>
            </div>
            <div class='project-column' droppable='true'>
                <div class='project-column-heading'>
                    <h2 class='project-column-heading__title'>Done</h2>
                    <button class='project-column-heading__options'><i class="fas fa-ellipsis-h"></i></button>
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--illustration'>Illustration</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Send Advert illustrations over to production company.</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>12</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>5</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--illustration'>Illustration</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Dawn wants to move the text 3px to the right.</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>3</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>7</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>

                <div class='task' draggable='true'>
                    <div class='task__tags'><span class='task__tag task__tag--copyright'>Copywriting</span>
                        <button class='task__options'><i class="fas fa-ellipsis-h"></i></button>
                    </div>
                    <p>Amend the contract details.</p>
<!--                    <div class='task__stats'>-->
<!--                        <span><time datetime="2021-11-24T20:00:00"><i class="fas fa-flag"></i>Nov 24</time></span>-->
<!--                        <span><i class="fas fa-comment"></i>8</span>-->
<!--                        <span><i class="fas fa-paperclip"></i>16</span>-->
<!--                        <span class='task__owner'></span>-->
<!--                    </div>-->
                </div>

            </div>

        </div>
    </main>

</div>


<script src="js/task-management.js"></script>
<script>
    // JavaScript
    const addParticipantButton = document.getElementById('addParticipantButton');
    const modal = document.getElementById('participantModal');
    const close = document.querySelector('.close');
    const participantForm = document.getElementById('participantForm');

    addParticipantButton.addEventListener('click', () => {
        modal.style.display = 'block';
    });

    close.addEventListener('click', () => {
        modal.style.display = 'none';
    });

    window.addEventListener('click', (event) => {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    });

    participantForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const participantName = document.getElementById('participantName').value;
        const participantImage = document.getElementById('participantImage').value;

        // Burada yeni katılımcıyı eklemek için JavaScript kodunuzu ekleyebilirsiniz.
        // Örnek olarak, bu bilgileri bir liste veya başka bir veri yapısına ekleyebilirsiniz.
        // Ardından, modal penceresini kapatın.

        modal.style.display = 'none';
    });


</script>
</body>
</html>